/* Remove Default Browser CSS */


/* * {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
} */

body {
    font-family: 'Montserrat', Helvetica, sans-serif !important;
}

.font-size-14 {
    font-size: 14 !important;
    font-weight: 500 !important;
}

.font-size-12 {
    font-size: 12 !important;
    font-weight: 500 !important;
}

.romans-pizza-logo {
    height: 45%;
    width: 45%;
}

img {
    height: 100%;
    width: 100%;
}


/* Call to Action Cards Section */

.call-to-action {
    width: 100%;
    height: 100%;
    /* display: grid;
    justify-content: center;
    align-content: center;
    gap: 0px;
    grid-auto-flow: column; */
}

.column-one {
    background-color: #dd2427;
    height: 100%;
}

.column-two {
    background-color: #222222;
    height: 100%;
}

.column-three {
    background-color: #196BB3;
    height: 100%;
}


/* Styling Classes */

.center-align-text {
    text-align: center !important;
}

.fw-900 {
    font-weight: 900 !important;
    font-size: 18px !important;
}

.fs-30 {
    font-weight: 900 !important;
    font-size: 30px !important;
}

.text-color-white {
    color: white !important;
}

.bg-color-lightgray {
    background-color: #222222;
}

.bg-color-darkgray {
    background-color: #000;
}

.bg-color-lightblue {
    background-color: #00559F;
}

.bg-color-darkblue {
    background-color: #196BB3;
}


/* 
@media (min-width: 1200px) .container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 100% !important;
} */